In [20]:
import pandas as pd

In [21]:
df_0 = pd.read_csv("string_dfs/df_0_string.csv", index_col=0)
df_1 = pd.read_csv("string_dfs/df_1_string.csv", index_col=0)
df_2 = pd.read_csv("string_dfs/df_2_string.csv", index_col=0)
df_3 = pd.read_csv("string_dfs/df_3_string.csv", index_col=0)
df_4 = pd.read_csv("string_dfs/df_4_string.csv", index_col=0)
df_5 = pd.read_csv("string_dfs/df_5_string.csv", index_col=0)
df_6 = pd.read_csv("string_dfs/df_6_string.csv", index_col=0)
df_7 = pd.read_csv("string_dfs/df_7_string.csv", index_col=0)
df_8 = pd.read_csv("string_dfs/df_8_string.csv", index_col=0)
df_labels = pd.read_csv("anomaly_label.csv")

C:\Users\conno\miniconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [22]:
df_labels.rename(columns= {"BlockId": "block_id"}, inplace= True)

In [23]:
len(df_0) + len(df_1) + len(df_2) + len(df_3) + len(df_4) + len(df_5) + len(df_6) + len(df_7) + len(df_8)

11175629

In [24]:
len(df_4)

6946

In [25]:
len(df_5)

7002

In [26]:
frames = [df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8]

In [27]:
result = pd.concat(frames, ignore_index= True)

In [28]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11175629 entries, 0 to 11175628
Data columns (total 13 columns):
 #   Column          Dtype
---  ------          -----
 0   block_id        object
 1   first_digits    int64
 2   second_digits   int64
 3   third_digits    int64
 4   message         object
 5   event_type      object
 6   block_asterisk  object
 7   add_ver         object
 8   dru             object
 9   trans_fail      object
 10  rrswe           object
 11  cerj            object
 12  pack_rec        object
dtypes: int64(3), object(10)
memory usage: 1.1+ GB

In [29]:
len(result['block_id'].unique())

580406

In [30]:
len(df_labels)

575061

In [31]:
df_labels.head()

                   block_id    Label
0  blk_-1608999687919862906   Normal
1   blk_7503483334202473044   Normal
2  blk_-3544583377289625738  Anomaly
3  blk_-9073992586687739851   Normal
4   blk_7854771516489510256   Normal

In [32]:
df_full_labelled = pd.merge(result, df_labels, on= 'block_id')

In [33]:
df_full_labelled.head(10)

,block_id,first_digits,second_digits,third_digits,message,event_type,block_asterisk,add_ver,dru,trans_fail,rrswe,cerj,pack_rec,Label
0,blk_-1608999687919862906,81109,203518,35,INFO,dfs.FSNamesystem:,NameSystem.allocateBlock:,NaN,NaN,NaN,NaN,NaN,NaN,Normal
1,blk_-1608999687919862906,81109,203519,29,INFO,dfs.FSNamesystem:,NameSystem.addStoredBlock:,NaN,NaN,NaN,NaN,NaN,NaN,Normal
2,blk_-1608999687919862906,81109,203519,30,INFO,dfs.FSNamesystem:,NameSystem.addStoredBlock:,NaN,NaN,NaN,NaN,NaN,NaN,Normal
3,blk_-1608999687919862906,81109,203519,31,INFO,dfs.FSNamesystem:,NameSystem.addStoredBlock:,NaN,NaN,NaN,NaN,NaN,NaN,Normal
4,blk_-1608999687919862906,81109,203521,19,INFO,dfs.FSNamesystem:,ask,NaN,NaN,NaN,NaN,NaN,NaN,Normal
5,blk_-1608999687919862906,81109,203521,30,INFO,dfs.FSNamesystem:,NameSystem.addStoredBlock:,NaN,NaN,NaN,NaN,NaN,NaN,Normal
6,blk_-1608999687919862906,81109,203521,34,INFO,dfs.FSNamesystem:,NameSystem.addStoredBlock:,NaN,NaN,NaN,NaN,NaN,NaN,Normal
7,blk_-1608999687919862906,81109,203524,19,INFO,dfs.FSNamesystem:,ask,NaN,NaN,NaN,NaN,NaN,NaN,Normal
8,blk_-1608999687919862906,81109,203526,28,INFO,dfs.FSNamesystem:,NameSystem.addStoredBlock:,NaN,NaN,NaN,NaN,NaN,NaN,Normal
9,blk_-1608999687919862906,81109,203526,29,INFO,dfs.FSNamesystem:,NameSystem.addStoredBlock:,NaN,NaN,NaN,NaN,NaN,NaN,Normal

## Converting categorical columns to `categories` instead of `object`

In [34]:
df_full_labelled.columns

Index(['block_id', 'first_digits', 'second_digits', 'third_digits', 'message',
       'event_type', 'block_asterisk', 'add_ver', 'dru', 'trans_fail', 'rrswe',
       'cerj', 'pack_rec', 'Label'],
      dtype='object')

In [35]:
df_full_labelled['message'] = df_full_labelled['message'].astype('category')
df_full_labelled['event_type'] = df_full_labelled['event_type'].astype('category')
df_full_labelled['block_asterisk'] = df_full_labelled['block_asterisk'].astype('category')
df_full_labelled['add_ver'] = df_full_labelled['add_ver'].astype('category')
df_full_labelled['dru'] = df_full_labelled['dru'].astype('category')
df_full_labelled['trans_fail'] = df_full_labelled['trans_fail'].astype('category')
df_full_labelled['rrswe'] = df_full_labelled['rrswe'].astype('category')
df_full_labelled['cerj'] = df_full_labelled['cerj'].astype('category')
df_full_labelled['pack_rec'] = df_full_labelled['pack_rec'].astype('category')
df_full_labelled['Label'] = df_full_labelled['Label'].astype('category')

In [41]:
df_full_labelled.to_csv("C:\\Users\conno\MDS-labs\data586\Project\labelled.csv")

In [17]:
df_full_labelled['message'] = df_full_labelled['message'].cat.codes
df_full_labelled['event_type'] = df_full_labelled['event_type'].cat.codes
df_full_labelled['block_asterisk'] = df_full_labelled['block_asterisk'].cat.codes
df_full_labelled['add_ver'] = df_full_labelled['add_ver'].cat.codes
df_full_labelled['dru'] = df_full_labelled['dru'].cat.codes
df_full_labelled['trans_fail'] = df_full_labelled['trans_fail'].cat.codes
df_full_labelled['rrswe'] = df_full_labelled['rrswe'].cat.codes
df_full_labelled['cerj'] = df_full_labelled['cerj'].cat.codes
df_full_labelled['pack_rec'] = df_full_labelled['pack_rec'].cat.codes
df_full_labelled['Label'] = df_full_labelled['Label'].cat.codes

In [18]:
df_full_labelled.head()

,block_id,first_digits,second_digits,third_digits,message,event_type,block_asterisk,add_ver,dru,trans_fail,rrswe,cerj,pack_rec,Label
0,blk_-1608999687919862906,81109,203518,35,0,7,1,-1,-1,-1,-1,-1,-1,1
1,blk_-1608999687919862906,81109,203519,29,0,7,0,-1,-1,-1,-1,-1,-1,1
2,blk_-1608999687919862906,81109,203519,30,0,7,0,-1,-1,-1,-1,-1,-1,1
3,blk_-1608999687919862906,81109,203519,31,0,7,0,-1,-1,-1,-1,-1,-1,1
4,blk_-1608999687919862906,81109,203521,19,0,7,4,-1,-1,-1,-1,-1,-1,1

In [19]:
df_full_labelled.to_csv("C:\\Users\conno\MDS-labs\data586\Project\encoded_labelled.csv")