# Multivariate logit regression

In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import RFE

## Dataset

In [2]:
data = pd.read_csv("encoded_labelled.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11170084 entries, 0 to 11170083
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   Unnamed: 0      int64
 1   block_id        object
 2   first_digits    int64
 3   second_digits   int64
 4   third_digits    int64
 5   message         int64
 6   event_type      int64
 7   block_asterisk  int64
 8   add_ver         int64
 9   dru             int64
 10  trans_fail      int64
 11  rrswe           int64
 12  cerj            int64
 13  pack_rec        int64
 14  Label           int64
dtypes: int64(14), object(1)
memory usage: 1.2+ GB

In [3]:
data.head(5)

,Unnamed: 0,block_id,first_digits,second_digits,third_digits,message,event_type,block_asterisk,add_ver,dru,trans_fail,rrswe,cerj,pack_rec,Label
0,0,blk_-1608999687919862906,81109,203518,35,0,7,1,-1,-1,-1,-1,-1,-1,1
1,1,blk_-1608999687919862906,81109,203519,29,0,7,0,-1,-1,-1,-1,-1,-1,1
2,2,blk_-1608999687919862906,81109,203519,30,0,7,0,-1,-1,-1,-1,-1,-1,1
3,3,blk_-1608999687919862906,81109,203519,31,0,7,0,-1,-1,-1,-1,-1,-1,1
4,4,blk_-1608999687919862906,81109,203521,19,0,7,4,-1,-1,-1,-1,-1,-1,1

In [4]:
# Split the data into training parameters and the labels
X = data.drop(columns = ["Unnamed: 0","block_id", "Label"])
Y = data.Label

In [5]:
# Split the data into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=1)

## Model implementation & training

In [6]:
model = LogisticRegression()
rfe = RFE(model, 3)

C:\ProgramData\Miniconda3\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass n_features_to_select=3 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

In [7]:
rfe.fit(X_train, y_train)

RFE(estimator=LogisticRegression(), n_features_to_select=3)

## Model evaluation

In [12]:
yhat = rfe.predict(X_test)

In [13]:
accuracy = accuracy_score(y_test, yhat)
print(accuracy)

0.974627576687516